@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: pink;
}

.header {
  border-bottom: 2px solid rgba(117, 113, 113, 0.426);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.681);
}

.list {
  display: flex;
  gap: 1rem;
  font-size: 1.1rem;
}

.list li {
  list-style: none;
}

.list li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.list li a:hover {
  text-decoration: 2px underline;
  text-underline-offset: 4px;
  transition: all ease-in;
}
